@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;

  background-color: #2681dc;
  transition: all 0.25s ease-in-out;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  padding-right: 2.8rem;
  box-shadow: 5px 5px #388ee4;
}

.container h1 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #2681dc;
}

.container form {
  margin-top: 1.5rem;
}

.container form .row {
  display: flex;
  flex-direction: column;
}

.container form .row .voices-icons {
  display: flex;
  align-items: center;
  margin-top: -43px;
  margin-bottom: 10px;

  border-top: none;
  margin-left: 4px;

  background-color: #fff;
  text-align: right;
  width: 100%;
}

.container form .row .voices-icons .select-voices {
  flex: 1;
}

.container form .row i {
  cursor: pointer;
  opacity: 0.5;
  margin-left: 10px;
}

.container form .row i.speaking {
  color: #2681dc;
  transition: all 0.25s ease-in-out;
}

.container form textarea,
.container form select {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}

.container form textarea {
  border: 1px solid #bbb;
  padding: 3px 5px;
  margin-bottom: 12px;
  resize: none;
}

.container form select {
  display: flex;
  align-items: center;
  height: 30px;
}

svg {
  z-index: 2;

  font-size: 1.4rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}

.icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.icon::after {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: lightblue;
  z-index: 1;
  opacity: 0.2;
  cursor: pointer;
  animation: pulse 1250ms infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.95;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.container ul {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  font-size: 13px;
  max-height: 300px;
  overflow: scroll;
}

.container ul .word h2 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.container ul .word span {
  font-size: 0.8rem;
  opacity: 0.6;
}

.container ul .contain {
  margin-top: 7px;
}

.container ul .contain .details {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  padding: 5px 0;
  padding-left: 10px;
  border-radius: 5px;
  border-left: 3px solid #2681dc;
}

.container ul .contain .details p {
  opacity: 0.6;
}

.container h3,
.container p {
  margin: 0;
}

.container ul .contain h3 {
  text-transform: capitalize;
}

.container ul .contain .synonyms span {
  opacity: 0.6;
  border-bottom: 1px dotted #2681dc;
  cursor: pointer;
}

.container ul .contain .synonyms span:hover {
  color: #2681dc;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 570px) {
  .container {
    height: 100vh;
    border-radius: 0;
  }

  .container ul {
    max-height: 480px;
  }
}
